<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
</head>
<body>

<h1>Client Submissions</h1>

<a href="/admin/logout">Logout</a>

<br><br>

<table border="1" cellpadding="10">

    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Message</th>
        <th>Date</th>
    </tr>

    {% for client in clients %}

    <tr>

        <td>{{ client[0] }}</td>
        <td>{{ client[1] }}</td>
        <td>{{ client[2] }}</td>
        <td>{{ client[3] }}</td>
        <td>{{ client[4] }}</td>
        <td>{{ client[5] }}</td>

    </tr>

    {% endfor %}

</table>

</body>
</html>